{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Appoinment History{% endblock title %}

{% block main-content %}


<div class="container my-5" style="padding-top: 80px;">
  <center>
    <h2>Appointment History</h2>
  </center>
  <br><br>
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table table-striped">
        <!-- <thead style="background-color: #6D0A15; color: white;"> -->
        <thead>
          <tr>
           
            <th scope="col" class="text-center">Counsellor name</th>
            <th scope="col" class="text-center">Counsellor Email</th>
            <th scope="col" class="text-center">Counsellor Mobile</th>
            <th scope="col" class="text-center">Topic</th>
            <th scope="col" class="text-center">Appointment Date</th>
            <th scope="col" class="text-center">Appointment Time</th>
            <th scope="col" class="text-center">Appointment Status</th>

          </tr>
        </thead>
        {% for apn in stu_apn %}
        {% if apn.req_user.user.pk == request.user.pk %}
        <tbody>
          <tr>
            
            <td class="text-center"><a href="{% url 'counselor_profile' apn.accept_user.id %}">{{apn.accept_user.name}}</a></td>
            <td class="text-center">{{apn.accept_user.email}}</td>
            <td class="text-center">{{apn.accept_user.mobile}}</td>
            <td class="text-center">{{apn.topics}}</td>
            <td class="text-center">{{apn.appoinment_date}}</td>
            <td class="text-center">{{apn.appoinment_time}}</td>
            
         
            {% if apn.appoinment_status == "Pending" %}
            <td class="text-center" style="color: red;">{{apn.appoinment_status}} <span><a href="{% url 'cancel' apn.id %}" role="button"
                  class="btn btn-sm btn-danger">Cancel</a></span></td>
            {% elif apn.appoinment_status == "Decline" %}
            <td style="color: red;" class="text-center">{{apn.appoinment_status}} </td>
            {% elif apn.appoinment_status == "Accepted" %}
            <td style="color: green;" class="text-center">{{apn.appoinment_status}} </td>
            {% endif %}


          </tr>


        </tbody>
        {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>



{% endblock main-content %}