{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Appoinment History{% endblock title %}

{% block main-content %}


<div class="container my-5" style="padding-top: 80px;">
  <center>
    <h2>Appoinment History</h2>
  </center>
  <br><br>
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table table-striped">
        <!-- <thead style="background-color: #6D0A15; color: white;"> -->
        <thead>
          <tr>
            <th scope="col">Serial no</th>
            <th scope="col">Counselor name</th>
            <th scope="col">Counselor Email</th>
            <th scope="col">Counselor Mobile</th>
            <th scope="col">Topic</th>
            <th scope="col">Appoinment Date</th>
            <th scope="col">Appoinment Time</th>
            <th scope="col">Appoinment Status</th>

          </tr>
        </thead>
        {% for apn in stu_apn %}
        {% if apn.req_user.user.pk == request.user.pk %}
        <tbody>
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{apn.accept_user.name}}</td>
            <td>{{apn.accept_user.email}}</td>
            <td>{{apn.accept_user.mobile}}</td>
            <td>{{apn.topics}}</td>
            <td>{{apn.appoinment_date}}</td>
            <td>{{apn.appoinment_time}}</td>
            
         
            {% if apn.appoinment_status == "Pending" %}
            <td style="color: red;">{{apn.appoinment_status}} <span><a href="{% url 'cancel' apn.id %}" role="button"
                  class="btn btn-sm btn-danger">Cancel</a></span></td>
            {% elif apn.appoinment_status == "Decline" %}
            <td style="color: red;">{{apn.appoinment_status}} </td>
            {% elif apn.appoinment_status == "Accepted" %}
            <td style="color: green;">{{apn.appoinment_status}} </td>
            {% endif %}


          </tr>


        </tbody>
        {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>




{% endblock main-content %}