{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Article{% endblock title %}

{% block main-content %}

<div class="container my-5" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-8">
        <h1>New article</h1>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form | crispy }}
          <br>
          <button class="btn btn-success ml-2" type="submit">Save</button>
        </form>
    </div>
  </div>
</div>

{% endblock main-content %}