{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Article List{% endblock title %}

{% block main-content %}


  <div class="container my-5" style="padding-top: 80px;">
    <center><h2>Articles</h2></center>
    <br>
    <div class="row">
      {% for article in object_list %}
      {% if not article.author.user.pk == request.user.pk %}
      <div class="col-md-4 my-3">
        <div class="card h-100" >
          {% if article.image %}
          <img src="{{ article.image.url }}" alt="">
          {% else %}
          <div></div>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ article.title }} </h5>
            <span class="text-muted">by <a href="{% url 'counselor_profile' article.author.id %}">{{ article.author.name }}</a> | {{ article.date }}</span></h5>
              <br><br>
            <p class="card-text">
              {{ article.body | truncatewords:50 }} <a href="{% url 'article_detail' article.id %}">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
 
    

{% endblock main-content %}


