{% extends 'app/base.html' %}
{% load static %}

{% block title %}Counselor Profile{% endblock title %}

{% block main-content %}

<div class="container my-5" style="padding-top: 50px;">
  <div class="row">
  
    <div class="col-md-6">

      <div class="card align-items-center " style="border: 0; margin-top: 20%; margin-left: 10%;">
        {% if counselor.image %}
        <img  src="{{ counselor.image.url }}" alt="" width="60%" height="200vh">
        {% else %}
        <img src="{% static 'app/images/cover/profile_1.jpg' %}" alt="" width="60%" height="100vh">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{counselor.name}}</h5>
          <div class="card-text">
            <b>{{counselor.designation}}</b>
            
          </div>
          <br>
          {% if counselor.user.pk == request.user.pk %}
          <a href="{% url 'counselor_form' counselor.id %}" role="button" class="btn btn-primary">Edit Profile</a>
          <a href="{% url 'article_new1'  %}" role="button" class="btn btn-primary">Write Article</a>
          {% elif request.user.is_student %}
          <a href="{% url 'appoinmentForm' counselor.id  %}" role="button" class="btn btn-primary">Request Appoinment</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
<div class="card">
  <div class="card-header">
    <h6>Counselor Informatuion</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4 text-muted">
        <p><b> username:</b></p>
      </div>
      <div class="col-6">
        <p><b> {{ counselor.user.username }}</b></p>
      </div>
    </div>


    <div class="row">
      <div class="col-4 text-muted">
        <p><b> Email:</b></p>
      </div>
      <div class="col-6">
        <p><b> {{ counselor.email }}</b></p>
      </div>
    </div>


    <div class="row">
      <div class="col-4 text-muted">
        <p><b> Mobile:</b></p>
      </div>
      <div class="col-6">
        <p><b> {{ counselor.mobile }}</b></p>
      </div>
    </div>


    <div class="row">
      <div class="col-4 text-muted">
        <p><b> Designation:</b></p>
      </div>
      <div class="col-6">
        <p><b> {{ counselor.designation }}</b></p>
      </div>
    </div>


    <div class="row">
      <div class="col-4 text-muted">
        <p><b> Institute:</b></p>
      </div>
      <div class="col-6">
        <p><b> {{ counselor.institute }}</b></p>
      </div>
    </div>


    <div class="row">
      <div class="col-4 text-muted">
        <p><b> Category:</b></p>
      </div>
      <div class="col-6">
        <p><b> {{ counselor.category }}</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-muted">
        <p><b> Address:</b></p>
      </div>
      <div class="col-6">
        <p><b> {{ counselor.address }}</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-muted">
        <p><b> Counselling Experience:</b></p>
      </div>
      <div class="col-6">
        <p><b> {{ counselor.counselling_experience }}</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-muted">
        <p><b> Description:</b></p>
      </div>
      <div class="col-6">
        <p><b> {{ counselor.description }}</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-muted">
        <p><b> per_session_fee:</b></p>
      </div>
      <div class="col-6">
        <p><b> {{ counselor.per_session_fee }}</b></p>
      </div>
    </div>

  </div>
</div>
    </div>
  </div>
</div>


{% endblock main-content %}