{% extends 'app/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block main-content %}
<!-- <img src="{% static 'app/images/cover/cover.png' %}" alt="" style="width: 100%;height: 100vh;"> -->

<style>
  .cover {
    width: 100%;
    height: 100vh;
    background-image: url("{% static 'app/images/cover/cover.png' %}");
    background-position: center;
    background-repeat: none;
    background-size: cover;
  }

  #why_counselling .card {
    cursor: text;
    border: none;
    box-shadow: 5px 0px 0px 0px #014e88;
  }

  /* Why Counselling */
  #why_counselling .card {
    cursor: text;
    border: none;
    box-shadow: 5px 0px 0px 0px #014e88;
  }

  i {
    color: #014e88;
    transition: all ease-out .8s;
  }

  /* Services */
  #services {
    background-color: #014e88;
    color: white;
  }

  /* Testimonial Section */
  #testimonial {
    background: #741614;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  #testimonial .testimonial-img img {
    border-radius: 50%;
  }

  /* Career Articles */
  #articles .card {
    transition: all ease .6s;
    cursor: pointer;
    border-bottom: #014e88 solid 5px;
  }

  #articles .card:hover {
    background-color: #014e88;
    color: white;
  }
</style>

<section>
  <div class="cover container-fluid">
    <div class="container tagline row ms-2" style="padding-top: 45vh; color: white;">
      <div class="col-md-6">
        <h1>Bring Up The Hero From Inside & Become Your Best Self.</h1>
        <!-- <form class="d-flex mt-4">
          <input class="form-control me-2" type="search" placeholder="Search Your Counselor" aria-label="Search">
          <button class="btn btn-lg search-btn btn-outline-light" type="submit">Search</button> -->
        <br>
        <p style="color: rgb(223, 223, 223);">Take an appointment from our country wide counsellors now. You will be
          able to make career exploration, making career choices, managing career changes, lifelong career development
          and dealing with other career-related issues.</p>
      </div>
    </div>
  </div>
</section>

<br><br>

<section id="why_counselling">
  <div class="container section-padding">
    <h1 class="text-center mb-5">Why Counselling is Important?</h1>
    <div class="row g-3">
      <div class="col-md-4 col-sm-12">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Helps Pick The Right Career</h5>
            <p class="card-text">Career Counsellors are experts at assessing your aptitude, personality, interests,
              and other aspects of you. They use this evaluation to suggest the best career options from all the
              available and relevant options.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Helps Provide Expert Resources</h5>
            <p class="card-text">Career Counselling provides access to the resources and knowledge that a career
              expert possesses. This knowledge of Careers, their scope and the paths to pursue them are most important
              from the point of view of a parent and child, since most of the times, parents or guardians do not have
              that kind of knowledge.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Helps Gain Confidence And Insight</h5>
            <p class="card-text">Career Counselling helps a counselee understand the hurdles in his/her career path.
              This knowledge helps to develop the confidence to overcome these hurdles. It is the duty of a good
              counsellor to provide such insight and confidence to the counselee.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>
<section id="services" class="py-5">
  <div class="container py-5">
    <h1 class="text-center mb-5">What we offer?</h1>
    <div class="row">
      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
        <i class="fas fa-2x fa-hand-point-right me-3"></i>
        <h4>Renowned Counsellors</h4>
      </div>
      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
        <i class="fas fa-2x fa-hand-point-right me-3"></i>
        <h4>Affordable Fees</h4>
      </div>
      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
        <i class="fas fa-2x fa-hand-point-right me-3"></i>
        <h4>Choosing Career Track</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
        <i class="fas fa-2x fa-hand-point-right me-3"></i>
        <h4>Providing Career Roadmap</h4>
      </div>
      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
        <i class="fas fa-2x fa-hand-point-right me-3"></i>
        <h4>Free Career Articles</h4>
      </div>
      <div class="col-md-4 col-sm-12 d-flex justify-content-center">
        <i class="fas fa-2x fa-hand-point-right me-3"></i>
        <h4>24/7 Support</h4>
      </div>
    </div>
  </div>
</section>
<br><br>
<div class="container section-margin">
  <div class="row">
    <div class="col-md-12">
      <div class="m-3">
        <b>
          <h1 class="text-center">Meet Counsellors</h1>
        </b>
        <p></p>
        <!-- Slider 1 -->
        <div class="owl-carousel" id="slider1">
          {% for counselor in counselors %}
          <a href="{% url 'counselor_profile' counselor.id %}" class="btn">
            <div class="item">
              {% if counselor.image %}
              <img src="{{ counselor.image.url }}" alt="no image" width="100%" height="200px">
              {% else %}
              <img src="{% static 'app/images/img/profile1.jpg' %}" width="100%" alt="" height="200px">
              {% endif %}
              <p class="text-center mt-2 mb-0">{{counselor.name}}</p>
              <p class="text-center text-muted">{{counselor.designation}}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial -->
<section id="testimonial">
  <div class="container section-margin section-padding">
    <h1 class="text-center mb-5">What Others Say About Us</h1>
    <div class="row">
      <div class="col-md-1 col-sm-12">
        <div class="testimonial-img text-center">
          <img style="width: 60px; height: auto;" src="{% static 'app/images/img/profile1.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos molestias ipsa maiores distinctio
            reiciendis optio at fugiat tempore illum deserunt.</h5>
        </div>
      </div>
    </div> <br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8 col-sm-12">
        <div>
          <h5 class="text-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos molestias ipsa maiores
            distinctio
            reiciendis optio at fugiat tempore illum deserunt.</h5>
        </div>
      </div>
      <div class="col-md-1 col-sm-12">
        <div class="testimonial-img text-center">
          <img style="width: 60px; height: auto;" src="{% static 'app/images/img/female.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Articles -->
<style>
    #articles .card {
    transition: all ease .6s;
    cursor: pointer;
    border-bottom: #014e88 solid 5px;
  }

  #articles .card:hover{
    background-color: #014e88;
    color: white;
    cursor: pointer;
  }
  #articles .card:hover a{
    color: white;
  }

  #articles .see-all .btn {
    border: #014e88 solid 2px;
    background-color: white;
    color: #014e88;
    transition: .6s all ease;
    width: 40%;
  }

  #articles .see-all .btn:hover,
  .see-all .btn:hover i {
    background-color: #014e88;
    color: white;
  }

  #articles button h4 {
    text-align: center;
  }
</style>

<section id="articles">
  <div class="container my-5" style="padding-top: 80px;">
    <center>
      <h1>Articles</h1>
    </center>
    <br>
    <div class="row">
      {% for article in recent_article %}
      <div class="col-md-4 my-3">
        <div class="card h-100">
          {% if article.image %}
          <img src="{{ article.image.url }}" alt="">
          {% else %}
          <div></div>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ article.title }} </h5>
      
            {% if not article.author.user.id == request.user.id %}
            <p class="text-muted">by <a href="{% url 'counselor_profile' article.author.id %}">{{ article.author.name }}</a> |
              {{ article.date }}</>
            </p>
            {% elif request.user.is_student %}
            <p class="text-muted">by <a href="{% url 'counselor_profile' article.author.id %}">{{ article.author.name }}</a> |
              {{ article.date }}</>
            </p>
            {% elif not request.user.is_authenticated %}
            <p class="text-muted">by <a href="{% url 'counselor_profile' article.author.id %}">{{ article.author.name }}</a> |
              {{ article.date }}</span></p>
      
            {% else %}
            <span class="text-muted">by <p>{{ article.author.name }} | {{ article.date }}</p></span>
            {% endif %}
            <br>
            <p class="card-text">
              {{ article.body | truncatewords:50 }} <a href="{% url 'article_detail' article.id %}">Read More...</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class=" text-center">
      <button class="btn see-all">
        <a style="text-decoration: none;" href="{% url 'article_list' %}">
          <h4>See All <i class="fas fa-angle-double-right"></i></h4>
        </a>
      </button>
    </div>
  </div>
</section>
<style>
  .see-all,
  .see-all a {
    background-color: #014e88;
    color: white;
    transition: .6s ease;
  }

  .see-all:hover,
  .see-all:hover a {
    background-color: white;
    border: 2px solid #014e88;
    color: #014e88;
  }
</style>




{% endblock main-content %}