{% extends 'app/base.html' %}
{% load static %}
{% block title %}Registration{% endblock title %}
{% block main-content %}

<style>
  .card a {
    color: white;
    border: 2px solid white;
  }
  .card a:hover{
    background-color: white;
    color: #014E88;
  }
</style>

<div class="container my-5">
  <h2 class="text-center my-5" style="padding-top: 100px;">Register</h2>
  <div class="row">
    <div class="col-md-2 col-sm-12"></div>
    <div class="col-md-4 col-sm-12 mb-2">
      <div class="card shadow" style="width: 100%; height: auto; background-color: #014E88; color: white;">
        <div class="card-body my-3">
          <h4 class="card-title">As a Counsellor</h4> <br>
          <h5 class="card-text" style="color: rgb(194, 194, 194) !important">Do you have counselling experience? Want to counsel students? <br> Sign up from here now!
          </h5>
          <br>
          <a href="{% url 'counselor_signup' %}" class="btn">I'm Counsellor</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card shadow" style="width: 100%; height: auto; background-color: #014E88; color: white;">
        <div class="card-body my-3">
          <h4 class="card-title">As a Student</h4> <br>
          <h5 class="card-text" style="color: rgb(194, 194, 194) !important">Confused about your career decisions? Want motivations and guidelines? <br> Sign up and take an appointment now!
          </h5>
          <br>
            <a href="{% url 'student_signup' %}" class="btn">I'm Student</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-12"></div>
  </div>
</div>


{% endblock main-content %}